<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Ski</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="home">Home</a>
      </li>
      <li class="nav-item" *ngFor="let i of resortName">
        <a class="nav-link" [routerLink]="['ski-resort', i._id]">{{i.name}}</a>
      </li>
</ul>
<ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
    </ul>
  </div>
</nav>