<div class="row">
	<div class="col-8">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Length (km)</th>
				<th>Rating</th>
			</tr>
			<tr *ngFor="let i of t" class="{{i.color}}">
				<td>{{i.name}}</td>
				<td>{{i.length_km}}</td>
				<td>{{i.rating}}</td>
			</tr>
		</table>
	</div>
	<div class="col-4">
		<form>
			<div class="form-group">
				<label>Sort by:</label>
				<select class="form-control" name="sort" (change)="updateSort()" [(ngModel)]="sortirati">
					<option value="length_km">Length</option>
					<option value="rating">Rating</option>
				</select>
			</div>
		</form>
	</div>
</div>